*{
  margin: 0;
  padding: 0;
}

.bck-whitesmoke{
  background-color: whitesmoke;
}

.blog-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .blog-post-header{
    margin: 30px 0px;
  }
  
  .blog-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .blog-posts img{
    width: 100%;
    height: auto;
  }

  .blog-posts h2{
    font-size: 15px !important;
  }

  .blog-posts p{
    color: rgb(78, 40, 40);
    margin: 10px 0px;
  }
  
  @media (max-width: 768px) {
    .blog-posts {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }