nav {
    background-color: rgba(51, 51, 51, 0.5);
    padding: 10px;
    display: flex;
  justify-content: space-around;
  position: fixed;
    top: 0;
    left: 0;
    width:100%;
    font-family: "Poppins", sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  a:hover {
    color: #ffcc00;
  }

  .left-nav ul,
.right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-nav li,
.right-nav li {
  display: inline;
  margin-right: 15px;
}

  .right-nav .search-container {
    display: flex;
    align-items: center;
  }

  .right-nav input {
    margin-right: 5px;
    padding: 8px 12px;
  }

  .right-nav button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    nav{
        display: none;
    }}
  